*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:
linear-gradient(
135deg,
#000814,
#001d3d,
#001233
);

color:white;

}

.skills{

padding:70px;

text-align:center;

}

.skills h1{

font-size:80px;

margin-bottom:20px;

}

.skills span{

color:#f7c948;

}

.skills p{

font-size:22px;

margin-bottom:60px;

color:#d1d5db;

}

.container{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(230px,1fr)
);

gap:30px;

}

.card{

background:
rgba(255,255,255,.03);

border:
1px solid
rgba(255,255,255,.1);

border-radius:25px;

padding:50px 20px;

transition:.4s;

}

.card:hover{

transform:
translateY(-10px);

box-shadow:
0 0 30px
#2563eb;

}

.card i{

font-size:90px;

margin-bottom:30px;

}

.fa-html5{
color:#ff5b2e;
}

.fa-css3-alt{
color:#1572ff;
}

.fa-js{
color:#ffd600;
}

.fa-python{
color:#4ea1ff;
}

.fa-file-excel{
color:#22c55e;
}

.fa-file-word{
color:#3b82f6;
}

.fa-clock{
color:white;
}

.fa-users{
color:#8b5cf6;
}

.fa-globe{
color:#00d4ff;
}

.fa-code{
color:#6ee787;
}

.fa-pen-ruler{
color:#ff4fd8;
}

.card h2{

font-size:30px;

}

@media(max-width:768px){

.skills h1{

font-size:55px;

}

}